<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>My page title</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body class="<%= bodyClass %>">
  <h1><%= message %></h1>
</body>
</html>
