body {
  background: #121318;
}

body.bg-red {
  background: #c62828;
}
body.bg-pink {
  background: #ad1457;
}
body.bg-purple {
  background: #6a1b9a;
}
body.bg-blue {
  background: #303f9f;
}
body.bg-light-blue {
  background: #0277bd;
}
body.bg-teal {
  background: #00695c;
}
body.bg-green {
  background: #2e7d32;
}
body.bg-orange {
  background: #ef6c00;
}

h1, h2, form {
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  margin: 30vh auto 0;
  padding: 0 10vw;
  font-size: 8vh;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-shadow: 0.05em 0.05em 0.2em rgba(0,0,0,0.4);
  text-align: center;
}
